//Fonts

@import url("http://overpass-30e2.kxcdn.com/overpass.css");
$font-main: overpass, sans-serif;

// Colors

$color-primary:     #F1404B;
$color-secondary:   #252c41;
$color-gray:        #DDDFE6;
$color-gray-light:  #F4F5F9;
$color-white:       #fff;